{% extends 'base.html'%}
{% block content %}
<div class="container">
<h1>About Us</h1>
<p>
This site is run and owned by kishore singh Limited, and our physical address is: 18-110 ,masjid center, mogaltur,Andhra Pradesh.
</p>
<h2>Long story short</h2>
<p>Ecommerce platforms are one of the most used types of CMSes and there are more and more apps popping out (more than 120!). That's why comparison websites started to include ecommerce platforms to their inventory. However, I've noticed some of these sites are quite biased and falsely rank particular platforms higher than others because of financial incentives, so I decided to start my own blog and comparison chart for these types of web apps.
</p>
    <h4>
        Founder:<p style="color:red;">Mr.kishore singh</p>
    </h4><br><br><br>
    <img src="/media/kishore.jpg" alt="logo" style="width:30%;height:50%;transform: rotate(270deg);">
</div><br><br><br><br>

{% endblock %}