{% extends 'base.html'%}

{% block content %}
<!--products-->

<div class="container">
    <div class="row">
    {% for x in lst %}

    <div class="col-sm-4">
      <div class="panel panel-primary">
          <div class="panel-heading"><b>{{x.name}}</b></div>
       <a href="/productitem{{x.id}}"> <div class="panel-body"><img src="{{x.photo.url}}" class="img-responsive" style="width:250px;height:250px" alt="Image"></div></a>
          <div class="panel-footer"><b >Price:₹</b>{{x.price}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button  class="add-to-cart btn btn-primary" type="button" onclick="window.location.href='/cart{{x.id}}'">add to cart</button></div>
      </div>
    </div>


    {% endfor %}

  </div>
</div>

{% endblock %}